// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #00C2BE;
$yellow: #BAB199;
$orange: #F7B05B;
$green: #32B796;
$gray: #EEEDF1;
$light-gray: #F4F4F4;
$shadow-purple: #310A31;
$text-grey: #BFBDC1;
$main-title: #00C2BE;
$background-gray: #7C7A7A;

$white: #F2F4F3;
$black: #0A0F0D;
$ruby: #D81159;
$light-blue: #19F7EC;
$blueberry: #4392F1;
