<h1>Mr. Cocktails</h1>

<% @cocktails.each_with_index do |cocktail, index| %>
  <% if index % 3 == 0 && index != 0 %>
    </div>
  <% end %>
  <% if index % 3 == 0 %>
    <div class="row">
  <% end %>
  <div class="col-xs-12 col-sm-4">
    <%= link_to cocktail do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars2.githubusercontent.com/u/39837977?v=4');">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <div class="card-info">
          <ul>
            <% cocktail.doses.each do |dose| %>
              <li><%= dose.ingredient.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
