<div class="grid-container">

<div class="cocktail-image" style="background-image: url('<%=  cl_image_path @cocktail.photo %>');">
</div>

<div class="cocktail-info">
  <h1><%= @cocktail.name %>
    <%= link_to new_cocktail_dose_path(@cocktail) do %>
      <small>edit</small>
    <% end %>
  </h1>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %></li>
    <% end %>
  </ul>
</div>


</div>
