<div class="grid-container">

<div class="cocktail-image" style="background-image: url('<%= @cocktail.image_url %>');">
</div>

<div class="cocktail-info">
  <h1><%= @cocktail.name %></h1>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %></li>
    <% end %>
  </ul>
</div>


</div>
