// Specific CSS for your home-page
.home {
  h2 {
    text-align: left;
    font-size: 50px;
    padding: 50px 0 25px 0;
  }
}
.categories {
}
.category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 5px 5px 1px rgba($blueberry, .1);
}
.category-content {
  font-weight: bold;
  text-shadow: 0 0 5px $black;
  z-index: 99999;
}
.category:hover {
  transform: scale(1.1);
}
