/* Main navbar */
.my-nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  .collapsable i{
    padding: 50px;
    font-size: 30px;
    color: $white;
  }
}
