/* Main navbar */
.my-nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .collapsable i{
    padding: 50px;
    font-size: 30px;
    color: $white;
  }
  a {
    color: $white;
    font-size: 30px;
  }
}
.logo {
  padding: 50px;
  font-size: 30px;

  span {
    font-family: $headers-font;
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .logo {
    padding: 10px;
  }
}
