.grid-container {
  display: flex;
  padding: 40px;
  align-items: start;
  a {
    cursor: pointer;
  }
}
.cocktail-image {
  height: 300px;
  width: 400px;
  background-size: cover;
  background-position: center;
}
.cocktail-info {
  padding-left: 80px;
  h1 {
    margin: 0 0 10px 0;
    text-align: left !important;
  }
  p {
    margin-left: 10px;
  }
}
